:root {
    --gray: #878787cc;
}
body {
    background-color: black;
    color: white;
    font-size: 10px;
    line-height: 13px;
    font-family: Helvetica Neue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body a {
      color: white;
      text-decoration: none;
  }


header {
    position: fixed;
    display: flex;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    z-index: 1000;
}

i {
    font-style: italic;
}

.text-col .title:nth-child(2) {
    margin-top: 1rem;
}

.text-col p {
    hyphens: auto;
}

header a {
    color: gray;
}

header .active {
    color: white;
}

header .navigation {
    display: flex;
    width: 26ch;
    margin-right: 20px;
}

header .navigation nav:first-child {
    margin-right: 37px;
}

.text-container {
    pointer-events: none;
}

.tombs .text-container .text-col:nth-child(2){
    display: none;

}

.tombs .text-container .text-col:nth-child(3){
    display: none

}

.text-container {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
    position: absolute;
    z-index: 10;

}

.series .tombs-wrapper {
    transform: translateX(41%);
    opacity: 0.5;
}

.series .tomb-infos {
    display: none
}

.text-col {
    width: 38ch;
    display: flex;
    flex-direction: column;
    transition: transform .2s ease-in-out;
}

.text-col:first-child {
    z-index: 2000;
}

.houses {
    display: flex;
}

.houses > * {
    /* margin-bottom: 1rem; */
    width: 16ch;
}

.houses > *:nth-child(2) {
    /* flex: 1; */
    flex: 1;
}
.houses > *:nth-child(3) {
    /* flex: 1; */
    flex: 1;
}

.logos {
    height: 1em;
    padding-bottom: 1.4em;
}

.bigger{    height: 1.4em !important;margin-bottom: 0.2em;}

.x2bigger {
    height: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: -0.2em;
}
.smaller {
    height: 0.8em;
    margin-top: 0.4em;
}
.logos img {
    height: 100%;
    margin-top: 1.4em;
}






.text-col {
    margin-right: 20px;
}

.text-col .title {
    margin-bottom: 12.5px;
}

.text-container .socials {
    margin-top: calc(12.5px*2);
}
.tombs-carousel {
    height: 100vh;
    width: 100vw;
}
.cell {
    width: 100vw;
    height: 100vh;
}

.flickity-slider .cell:first-child {
    /* left: 500px !im; */
}
.tomb-container {
    height: 100vh;
    margin-left: 38%;
}

.tomb-infos {
    display: flex;
    padding-left: 7em;
    padding-top: 3.5em;

    
}

.tomb-infos .text-col {
    display: flex;
    width: 25ch;
    flex-direction: row;
    font-size: calc(10px / 1.3);
    line-height: calc(14px / 1.3);;
}

.tomb-infos .text-col .init {
    width: 6ch;
}

.tomb-container figure {
    height: 80vh;
}
.tomb-container figure img {
    height: 100%;
}


.tomb-title {
    position: absolute;
    right: 50px;
    width: 25ch;
    top: 45px;
    font-size: 18px;
    font-weight: 500;
    z-index: 10000;
}

.tomb-house-container {
    font-size: calc(10px / 1.3);
    line-height: calc(14px / 1.3);;
    font-weight: 400;
    margin-top: 2.19rem;
    display: flex;
    flex-direction: column;
}

.tomb-house-container b {
    font-weight: 500;
}

.tomb-title-container {
    display: flex;
    flex-wrap: wrap;
}

.tomb-title-container span {
    margin-top: 0.5rem;
}

footer {
    position: fixed;
    display: flex;
    padding: 50px;
    padding-bottom: 50px;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.bold {
    font-weight: 500;
}

footer .title {
    font-size: 14px;
    font-weight: 500;
}

footer .newsletter-form {
    margin-top: 12.5px;
    display: flex;
    flex-direction: column;
    width: 37ch;

}

footer .newsletter-form input {
    background: none;
    border:none;
    border-bottom: 1px solid white;
    font-size: 10px;
    line-height: 14px;
    color: white;
    margin: 0;
    padding: 0;
    padding-bottom: 2.5px;
    margin-top: 2.5px;
}

footer .newsletter-form input:focus {
    box-shadow: none;
    outline: none;
}


.logo {
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 73px;
    right: 5px;
    transform: rotate(90deg);
}

.logo img {
    width: 100%;
}

.tombs .logo {
    top: 80px !important;
    bottom: inherit;
}

