body {
  margin: 0;
}

.wrapper-desktop {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100vh;
}
.embed_documentation_footer--documentationFooter--2gpG4 {
  display: none;
}

.wrapper-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .wrapper-desktop {
    display: none;
  }
  .wrapper-mobile {
    display: block;
  }
}
